<main class='p-5 row'>
  <div class='col-4'>
    <div class='card'>
      <div class='card-header'>
        <h4 class=''>CSS pet project</h4>
      </div>
      <div class='card-body'>
        <a
          class='btn btn-secondary'
          href='/template-1'
        >Template-1</a>
      </div>
    </div>
  </div>
</main>