<header class='header row'>
  <h4 class='header_text col-3'>CSS pet project</h4>
</header>

<main class='p-5'>
  <a
    class='btn btn-secondary'
    href='/template-1'
  >Template-1</a>
  <a
    class='btn btn-secondary'
    href='/template-1'
  >Template-2</a>
</main>