<div class='page'>
  <div class='page_content'>

    <header class='page_block'>
      <div class='header row g-0'>
        <div class='col-3'>
          {{> logo }}
        </div>
        <div class='header_nav col-9'>
          <div class='header_nav_right'>
            {{> nav list=header  }}
          </div>
        </div>
      </div>
    </header>

    <div class='page_block'>
      {{> hero title=hero.title text=hero.text}}
    </div>
    <div class='page_block'>
      <div class='row g-0 plans'>
        {{#each plans}}
          <div class='col plans_card'>
            {{>card data=this}}
          </div>
        {{/each}}
      </div>
    </div>
    
    <footer class='page_block'>
      <div class='row footer g-0'>
        <div class='col-3'>
          {{>logo}}
          <span class='footer_copyright'>Copyright 2024</span>
        </div>
        {{#each footer}}
          <div class='col-3'>
            <span class='footer_title'>{{title}}</span>
            {{> nav list=links isVertical=true}}
          </div>
        {{/each}}
      </div>
    </footer>
    
  </div>
</div>