<header class='header'>
  {{> logo }}
  <div class='header_nav_right'>
    {{> nav list=header  }}
  </div>
</header>

<main class="main">
  {{#with messages}}
  <div class="messages">
    <h1 class="messages_title">
      {{title}}
    </h1>
    <a href="" class="messages_link">All messages</a>
  </div>
  {{/with}}
  <div class="form"> form</div>
</main>

<footer class='footer'>
  <div>
    {{>logo}}
    <span class='footer_copyright'>© 2024</span>
  </div>
  {{#each footer}}
    <div class='footer_col'>
      <span class='footer_title'>{{title}}</span>
      {{> nav list=links isVertical=true}}
    </div>
  {{/each}}
</footer>
