body {
  position: relative;
  background-color: rgb(245, 245, 245);
}
.button {
  box-shadow: 1px 1px 1px 1px #b9c1c7e8;
  color: unset;
  padding: 5px 20px;
  border: solid 1px rgba(128, 128, 128, 0.303);
  border-radius: 5px;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 20px;
  max-width: 120px;
  text-align: center;
}
.button:hover {
  box-shadow: 1px 1px 6px 1px #b9c1c7e8;
  position: relative;
  right: 1px;
  bottom: 1px;
}
.button:focus {
  box-shadow: 0px 0px 0px 0px #b9c1c7e8;
  position: relative;
  right: 0px;
  bottom: 0px;
}
.header {
  margin: 0;
  padding-left: 40px;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.4),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  padding-right: 30px;
}
.header_text {
  text-align: left;
  margin-top: 15px;
  font-style: italic;
}
.icon {
  block-size: 50%;
  margin-top: 15px;
  cursor: pointer;
}
body {
  transition: background-color 0.5s ease;
  background-color: #f8f8f8; /* цвет фона в дневном режиме */
  color: #333; /* цвет текста в дневном режиме */
}
body.dark-mode {
  background-color: #2f2f2f; /* цвет фона в ночном режиме */
  color: #c9c9c9; /* цвет текста в ночном режиме */
}
